[submodule "libs/common"]
	path = libs/common
	url = https://github.com/ross2p/mindlet-common.git
[submodule "libs/database"]
	path = libs/database
	url = https://github.com/ross2p/mindlet-database.git
[submodule "libs/types"]
	path = libs/types
	url = https://github.com/ross2p/mindlet-types.git
[submodule "libs/microservices"]
	path = libs/microservices
	url = https://github.com/ross2p/mindlet-microservices.git
