[submodule "libs/common"]
	path = libs/common
	url = https://github.com/ross2p/mindlet-common.git
[submodule "libs/types"]
	path = libs/types
	url = https://github.com/ross2p/mindlet-types.git
[submodule "apps/auth"]
	path = apps/auth
	url = https://github.com/ross2p/mindlet-auth.git
[submodule "apps/user"]
	path = apps/user
	url = https://github.com/ross2p/mindlet-user.git
[submodule "apps/subscription"]
	path = apps/subscription
	url = https://github.com/ross2p/mindlet-subscription.git
[submodule "apps/payment"]
	path = apps/payment
	url = https://github.com/ross2p/mindlet-payment.git
[submodule "apps/notification"]
	path = apps/notification
	url = https://github.com/ross2p/mindlet-notification.git
[submodule "apps/ai"]
	path = apps/ai
	url = https://github.com/ross2p/mindlet-ai.git
[submodule "apps/analytics"]
	path = apps/analytics
	url = https://github.com/ross2p/mindlet-analytics.git
[submodule "apps/course"]
	path = apps/course
	url = https://github.com/ross2p/mindlet-course.git
[submodule "apps/team"]
	path = apps/team
	url = https://github.com/ross2p/mindlet-team.git
[submodule "apps/lesson"]
	path = apps/lesson
	url = https://github.com/ross2p/mindlet-lesson.git
[submodule "apps/deck"]
	path = apps/deck
	url = https://github.com/ross2p/mindlet-deck.git
[submodule "apps/storage"]
	path = apps/storage
	url = https://github.com/ross2p/mindlet-storage.git
[submodule "apps/test"]
	path = apps/test
	url = https://github.com/ross2p/mindlet-test.git
[submodule "apps/gateway-web"]
	path = apps/gateway-web
	url = https://github.com/ross2p/mindlet-api-gateway-web.git
