#----------------------------------#
#             SERVER               #
#----------------------------------#
PORT=3000
BASE_URL=http://localhost:3000
NODE_ENV=development

#----------------------------------#
#          MICROSERVICE            #
#----------------------------------#
SERVICE_NAME=TEST_SERVICE

#----------------------------------#
#             KAFKA                #
#----------------------------------#
KAFKA_BROKER=localhost:9092

#----------------------------------#
#             SWAGGER              #
#----------------------------------#
SWAGGER_USER=admin
SWAGGER_PASSWORD=admin

#----------------------------------#
#             SENTRY               #
#----------------------------------#
SENTRY_DSN=https://example.com/placeholder
